
.tableTitle{
    font-weight: bold;
}

.informationDiv{
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.infoTablePaper{
    margin: 25px;
    width: fit-content;
    height: fit-content;
}