@import "../../../../public/styles/colors.scss";
@import "../../../../public/styles//layouts.scss";

div .sectionTitle{
    margin-top: 5%;
    margin-bottom: 8%;
    background-color: $light-orange;
    padding: 8px 10px;
}