.merchantPaper {
  margin: 1% 5%;
  padding: 20px 0;
}

.merchantDescContainer {
  margin: auto 7%;

  .descField {
    margin: 10px auto;
  }

  .queueBtn {
    margin-top: 25px;
  }
}

.mainImage {
  width: 85%;
  margin: auto;
}

.extraImages {
  width: 24%;
  margin: 3% 1%;
}

.imagesContainer {
  text-align: center;
  padding: 1% 15%;
}

.imagesRowContainer {
  margin: 3% 5%;
}
