@import "../../../../public/styles/colors.scss";
@import "../../../../public/styles//layouts.scss";

.merchantPaper {
  margin: 1% 5%;
  padding: 20px 0;
}

.merchantDescContainer {
  margin: auto 7%;

  .descField {
    margin: 10px auto;
  }

  .queueBtn {
    margin-top: 25px;
  }
}