$grayish-red: #c6a0a0;
$light-grayish-orange: #efe3c4;
$black: #000;
$dark-red: #901313;
$very-light-gray: #FBFBFB;
$light-orange: #FFC93C;
$light-grayish-red: #F5F1F1;
$dark-grayish-blue: #787F85;
$dark-grayish-red: #7C7272;
$gray: #C4C4C4;
$success-green: #28A745;
$error-red: #dc3545;