$grayish-red: #c6a0a0;
$light-grayish-orange: #efe3c4;
$black: #000;
$dark-red: #901313;
$very-light-gray: #fbfbfb;
$light-orange: #ffc93c;
$light-grayish-red: #f5f1f1;
$dark-grayish-blue: #787f85;
$dark-grayish-red: #7c7272;
$gray: #c4c4c4;
$dark-gray: #474747;
$success-green: #28a745;
$error-red: #dc3545;
$error-msg-color: #ee99a0;
