@import "../../../../public/styles/colors.scss";

.filterBarContainer {
  width: fit-content;
  min-width: 70%;
  margin: 2rem auto;
  padding: 0.7rem;
}

.filterBarDiv {
  padding: 0 10%;
  margin: 3rem 0;
}

.filterBarPlaceholder{
  color: rgba($color: #000000, $alpha: 0.3);
}
