div .profileContainer {
  width: 100%;
  margin-right: 3rem;
  font-size: 1rem;
}

.profileContainer .iconRoot {
  font-size: 2rem;
  margin: auto 0.5rem;
}

div .menu {
  color: white;
  background-color: rgba(0, 0, 0, 0.87);
  width: 8rem;
}

.navLink {
  text-decoration: inherit;
  color: inherit;
}
